<table border>
    <tr>
        <th>ID</th>
        <th>Date</th>
        <th>Week of month</th>
        <th>Day of week</th>
        <th>Name</th>
        <th>Description</th>
    </tr>

    <%= @h %>
    <form method="post" action="/new">
        <tr>
            <td><input type="text" name="id" /></td>
            <td><input type="text" name="date" /></td>
            <td><input type="text" name="week_of_month" /></td>
            <td><input type="text" name="day_of_week" /></td>
            <td><input type="text" name="name" /></td>
            <td><input type="text" name="description" /></td>
            <td><input type="submit" value="Add" /></td>
        </tr>
    </form>
</table>
<p>
<a href="/">カレンダーページ</a>